SUPABASE_URL=
SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SERVICE_ROLE_KEY=

VITE_SUPABASE_URL=
VITE_SUPABASE_PUBLISHABLE_KEY=
VITE_ARC_RPC_URL=https://rpc.testnet.arc.network
ARC_TESTNET_RPC_URL=https://rpc.testnet.arc.network
ARC_TESTNET_DEPLOYER_PRIVATE_KEY=

CIRCLE_API_KEY=
ENTITY_SECRET=
CIRCLE_AGENT_WALLET_SET_ID=
CIRCLE_WEBHOOK_SECRET=

VITE_SENTRA_AGENT_REGISTRY_ADDRESS=
VITE_SENTRA_STAKE_VAULT_ADDRESS=
VITE_SENTRA_DELEGATION_VAULT_ADDRESS=
VITE_SENTRA_PREDICTION_REGISTRY_ADDRESS=
VITE_SENTRA_REPUTATION_ORACLE_ADDRESS=
VITE_SENTRA_SLASHING_MODULE_ADDRESS=
VITE_SENTRA_CALL_ACCESS_ADDRESS=

VITE_WALLETCONNECT_PROJECT_ID=
VITE_CIRCLE_APP_ID=
